/* Default Parameter */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@font-face {
  font-family: "Italianno";
  src: url(/font/Italianno-Regular.ttf);
}

* {
  font-family: "Italianno";
  font-style: italic;
  font-weight: 700;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

html li {
  list-style: none;
}

html li a {
  text-decoration: none;
}

/* Header and Navbar */
.header {
  height: 100px;
  background-color: #ffd188;
  border-bottom: 1px solid black;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  height: 100%;
}

.header .navbar .div-logo {
  height: 100%;
  background-image: url(../img/pizza.png);
  background-position: left;
  background-repeat: no-repeat;
}

.header .navbar .div-logo .nav-logo {
  color: black;
  padding-left: 40px;
  width: 250px;
  height: 100px;
  overflow: hidden;
  margin-top: 40px;
  display: block;
  text-decoration: none;
  font-size: 4em;
}

.header .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100px;
  background-color: #ffd188;
}

.header .navbar .nav-menu .nav-item {
  text-align: center;
  padding-top: 10px;
  width: 160px;
  margin-right: 25px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 2px solid black;
  padding: 5px;
  border-radius: 75px;
  background-color: #fff;
}

.header .navbar .nav-menu .nav-item .nav-link {
  padding: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
}

.header .navbar .nav-menu .nav-item .nav-link:hover {
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .header .navbar .nav-menu .nav-item {
    width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .header .navbar .nav-menu {
    margin: 0 auto;
    left: 0;
    top: 100px;
    position: absolute;
    height: 0px;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid black;
  }
}

.header .navbar .nav-menu.active {
  height: 100px;
  text-align: center;
}

.header .navbar .hamburger {
  display: none;
}

.header .navbar .hamburger .bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .header .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
}

.header .navbar .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.header .navbar .hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

.header .navbar .hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
}

div.add_pizza, div.add_product {
  border: 2px solid black;
  background-color: #FBB713;
}

div.add_pizza div#show_add_pi, div.add_pizza div#show_add_pro, div.add_product div#show_add_pi, div.add_product div#show_add_pro {
  cursor: pointer;
  background-color: #ffd188;
  margin: 25px auto;
  border-radius: 25px;
  width: 60%;
  display: block;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 2px 0 black;
          box-shadow: 5px 5px 2px 0 black;
  text-align: center;
  font-size: 3rem;
}

div.add_pizza form#form_insert_pi, div.add_pizza form#form_insert_pro, div.add_product form#form_insert_pi, div.add_product form#form_insert_pro {
  width: 80%;
  display: none;
  width: 60%;
  font-size: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.add_pizza form#form_insert_pi div.inp_add, div.add_pizza form#form_insert_pro div.inp_add, div.add_product form#form_insert_pi div.inp_add, div.add_product form#form_insert_pro div.inp_add {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.add_pizza form#form_insert_pi div.inp_add div, div.add_pizza form#form_insert_pro div.inp_add div, div.add_product form#form_insert_pi div.inp_add div, div.add_product form#form_insert_pro div.inp_add div {
  width: 100%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.add_pizza form#form_insert_pi div.inp_add div label, div.add_pizza form#form_insert_pro div.inp_add div label, div.add_product form#form_insert_pi div.inp_add div label, div.add_product form#form_insert_pro div.inp_add div label {
  width: 100%;
  text-align: center;
}

div.add_pizza form#form_insert_pi div.inp_add div input, div.add_pizza form#form_insert_pro div.inp_add div input, div.add_product form#form_insert_pi div.inp_add div input, div.add_product form#form_insert_pro div.inp_add div input {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

div.add_pizza form#form_insert_pi div.inp_add div input[type=checkbox], div.add_pizza form#form_insert_pro div.inp_add div input[type=checkbox], div.add_product form#form_insert_pi div.inp_add div input[type=checkbox], div.add_product form#form_insert_pro div.inp_add div input[type=checkbox] {
  width: 25px;
  height: 25px;
}

div.add_pizza form#form_insert_pi div.inp_add div input[type=checkbox]:checked, div.add_pizza form#form_insert_pro div.inp_add div input[type=checkbox]:checked, div.add_product form#form_insert_pi div.inp_add div input[type=checkbox]:checked, div.add_product form#form_insert_pro div.inp_add div input[type=checkbox]:checked {
  background: black;
}

div.add_pizza form#form_insert_pi .btn_insert, div.add_pizza form#form_insert_pro .btn_insert, div.add_product form#form_insert_pi .btn_insert, div.add_product form#form_insert_pro .btn_insert {
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
}

div.add_pizza form#form_insert_pi .btn_insert input.submit_add, div.add_pizza form#form_insert_pro .btn_insert input.submit_add, div.add_product form#form_insert_pi .btn_insert input.submit_add, div.add_product form#form_insert_pro .btn_insert input.submit_add {
  margin: 1%;
  width: 70%;
  background-color: #FF3A2F;
  border-radius: 15px;
}

div.add_pizza form#form_insert_pi.active, div.add_pizza form#form_insert_pro.active, div.add_product form#form_insert_pi.active, div.add_product form#form_insert_pro.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.show div.show_product {
  width: 100%;
  border: 2px solid black;
  background-color: #FBB713;
}

section.show div.show_product div {
  cursor: pointer;
  background-color: #ffd188;
  margin: 25px auto;
  border-radius: 25px;
  width: 60%;
  display: block;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 2px 0 black;
          box-shadow: 5px 5px 2px 0 black;
  text-align: center;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  section.show div.show_product {
    width: 50%;
  }
}

main {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 5%;
}

main .container_pizza {
  border-radius: 15px;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 10px 0 black, 5px 2px 10px 2px black;
          box-shadow: 0 5px 10px 0 black, 5px 2px 10px 2px black;
  margin: 1% 1%;
  padding: 5px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container_pizza .pizza {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container_pizza .pizza h2 {
  font-size: 2.5em;
  display: inline;
}

main .container_pizza .pizza p {
  font-size: 2em;
  display: inline;
}

main .container_pizza .boutons {
  width: 20%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  float: right;
}

main .container_pizza .boutons a, main .container_pizza .boutons span {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  -webkit-box-shadow: 2px 2px 2px 0px black;
          box-shadow: 2px 2px 2px 0px black;
  display: block;
  text-align: center;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 5px;
  width: 75px;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}

main .container_pizza .boutons a#update, main .container_pizza .boutons span#update {
  background-color: #ffd188;
}

main .container_pizza .boutons a#delete, main .container_pizza .boutons span#delete {
  background-color: red;
}

main .container_pizza .boutons a#show, main .container_pizza .boutons span#show {
  background-color: #FBB713;
}

@media screen and (min-width: 768px) {
  main .container_pizza {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  main .container_pizza {
    width: 30%;
  }
}

main.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.products {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5%;
}

section.products div.container_produit {
  border-radius: 15px;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 10px 0 black, 5px 2px 10px 2px black;
          box-shadow: 0 5px 10px 0 black, 5px 2px 10px 2px black;
  margin: 3% auto;
  padding: 5px;
  width: 90%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.products div.container_produit .produit {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.products div.container_produit .produit h2 {
  font-size: 2.5em;
  display: inline;
}

section.products div.container_produit .produit p {
  font-size: 2em;
  display: inline;
}

section.products div.container_produit .boutons {
  width: 20%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  float: right;
}

section.products div.container_produit .boutons a, section.products div.container_produit .boutons span {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  -webkit-box-shadow: 2px 2px 2px 0px black;
          box-shadow: 2px 2px 2px 0px black;
  display: block;
  text-align: center;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 5px;
  width: 75px;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}

section.products div.container_produit .boutons a#update, section.products div.container_produit .boutons span#update {
  background-color: #ffd188;
}

section.products div.container_produit .boutons a#delete, section.products div.container_produit .boutons span#delete {
  background-color: red;
}

section.products div.container_produit .boutons a#show, section.products div.container_produit .boutons span#show {
  background-color: #FBB713;
}

@media screen and (min-width: 768px) {
  section.products div.container_produit {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  section.products div.container_produit {
    width: 30%;
  }
}

section.products.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#proShow.active {
  background-color: greenyellow;
  -webkit-box-shadow: inset 2px 2px 2px 0 black;
          box-shadow: inset 2px 2px 2px 0 black;
}

div#pizShow.active {
  background-color: greenyellow;
  -webkit-box-shadow: inset 2px 2px 2px 0 black;
          box-shadow: inset 2px 2px 2px 0 black;
}

div#pizShow.active::after {
  content: " (visible)";
}

div#proShow.active:after {
  content: " (visible)";
}

/* The Modal (background) */
.modal, .modalp {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 200Px;
  /* Could be more or less, depending on screen size */
}

.modal-content p {
  font-size: 2em;
}

.modal-content .button_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* The Close Button */
}

.modal-content .button_modal a, .modal-content .button_modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .button_modal a:hover, .modal-content .button_modal a:focus, .modal-content .button_modal .close:hover,
.modal-content .button_modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form.updateForm {
  display: block;
  width: 60%;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form.updateForm div {
  margin-bottom: 25px;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.updateForm div label {
  width: 100%;
  text-align: center;
}

form.updateForm div input {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

form.updateForm div.upd_choice {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

form.updateForm div.upd_choice input[type=submit] {
  width: 40%;
  margin: 0 5%;
  padding: 1% 5%;
  background-color: #FF3A2F;
  border-radius: 15px;
}

form.updateForm div.upd_choice a.retour {
  color: black;
  background-color: #ffd188;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 2px 0 black, -1px -1px 2px 0 black;
          box-shadow: 2px 2px 2px 0 black, -1px -1px 2px 0 black;
  text-decoration: none;
  width: 40%;
  margin: 0 5%;
  padding: 1% 5%;
  display: block;
}

#act_update {
  text-decoration: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  -webkit-box-shadow: 2px 2px 2px 0px black;
          box-shadow: 2px 2px 2px 0px black;
  display: block;
  text-align: center;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 5px;
  width: 75px;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #ffd188;
}

footer {
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #ffd188;
  border: 1px solid black;
}

footer ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li {
  margin-top: 1%;
  max-width: 90px;
}

footer ul li img {
  width: 45px;
}
/*# sourceMappingURL=style.css.map */